/* Common styles for both mobile and larger screens */
.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style for the left side with background image */
.contact .leftSide {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 0;
}

/* Style for the right side containing the form */
.contact .rightSide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin: 0;
}

/* Style for the form */
form {
  width: 100%;
  max-width: 400px; /* Adjust this width as needed */
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px; /* Adjust the margin-top for spacing */
}

form input,
form textarea {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  padding: 5px;
}

form input::placeholder,
form textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form label {
  margin-top: 10px;
  color: grey;
}

form button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
}

.contact__form {
  margin-top: 0%;
}

form button:hover {
  background-color: rgb(4, 85, 4);
  color: #fff;
}
/* Common styles for both mobile and larger screens */
.contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Style for the left side with background image */
.contact .leftSide {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  margin: 0;
}

/* Style for the right side containing the form */
.contact .rightSide {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact .rightSide h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  margin: 0;
}

/* Style for the form */
form {
  width: 100%;
  max-width: 400px; /* Adjust this width as needed */
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 20px; /* Adjust the margin-top for spacing */
}

form input,
form textarea {
  height: 40px;
  width: 100%;
  margin: 5px 0;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  padding: 5px;
}

form input::placeholder,
form textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

form input:focus,
form textarea:focus {
  outline: none;
}

form label {
  margin-top: 10px;
  color: grey;
}

form button {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  border-radius: 12px;
}

.contact__form {
  margin-top: 0%;
}

form button:hover {
  background-color: rgb(4, 85, 4);
  color: #fff;
}


